.user {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.user__photo {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.dropdown {
  color: #fff;
  margin-left: auto;
}

.add__btn {
  font-size: 20px;
  margin-left: auto;
}